/***************************************************************************************/
/*                 THIS IS WHERE THE GENERAL STYLES OF THE WEBSITE IS LOCATED                */
/***************************************************************************************/

/* Imports the Lato Font from its respective directory */
/* @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); */

/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');                                    /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'),                  /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'),                    /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
@font-face {
    font-family: 'LatoWebLight';
    src: url('../fonts/Lato-Light.eot');                                         /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),      /* IE6-IE8 */
         url('../fonts/Lato-Light.woff2') format('woff2'),                       /* Modern Browsers */
         url('../fonts/Lato-Light.woff') format('woff'),                         /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* Reset */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Clearfix was created by Nicolas Gallagher */

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
/* Body (Type, Button Fixes)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
button:focus {
	outline:0;
}
/* Topbar Button (Menu Button Styles)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.control button {
	color: white;
	cursor: pointer;
	font-size: 18px;
	margin-left: 35px;
	background: none;
	border: none;
	font-weight: 400;
	margin-left: 35px;
	outline: none;
	display: inline-block;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-top: 46px;
	margin-bottom: 46px;
}
.control button:hover {
	background: none;
	color: #f6f3af;
}
.control button.active {
	background: none;
	border: none;
	outline: none;
}
/* Footer Button (Info Button Styles)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.control-footer > button {
	color: white;
	cursor: pointer;
	font-size: 15px;
	background: none;
	border: none;
	line-height: 50px;
	margin-left: 18px;
	font-weight: 400;
	margin:0;
	padding:0;
	margin-left: 35px;
	z-index: 1;
}
.control-footer button:hover {
	background: none;
	color: #f6f3af;
}
.control-footer button.active {
	background: none;
}

/* Accordion
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.CheckBoxImages {
	background-repeat: no repeat; 
	background-position: right top; 
	width: 18px; 
	height: 18px; 
	float: right;
}
.CheckBoxHeight {
	height: 25px;
}
.CheckBoxTitle {
	height: 30px;
	color: #f6f3af;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
}
.accordion {
	width: 380px;
	height: 100%;
}
.accordion a {
	display: block;
	color: #f6f3af;
	padding: 10px 35px; 
	text-decoration: none;
}
.accordion-title {
	background: rgba(41,84,41,0);
	color: #f6f3af;
	margin: 0px;
	cursor: pointer;
}
.accordion-title:hover { 
	background-color: rgba(255,255,255,0.4);
	border-width: 0;
	border-top: 0.2px solid #bfbfbf;
	border-bottom: 0.2px solid #bfbfbf;
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;  
	transition: background-color 0.2s ease;
	text-shadow: 3px 3px 10px black;
	text-decoration: none;
}
.accordion-title a:active { 
	background-color: rgba(246,243,175,0.9);
	color: #FFF;
}
.accordion-title a:selected { 
	background-color: rgba(246,243,175,0.9);
	color: #FFF;
}
/*This is where the selected <a> links work*/
/*http://stackoverflow.com/questions/34996193/make-a-color-stay-on-css-element-when-selected*/
/* .accordion-title:focus {
	color: #f6f3af;
	background-color: rgba(255,255,255,0.4);
	border-top: 0.2px solid #bfbfbf;
	border-bottom: 0.2px solid #bfbfbf;	
	text-shadow: 3px 3px 10px black;
} */

.accordion-content {
	padding: 5px;
	margin: 5px;
	background: rgba(41,84,41,0);
	width: 300px;
	margin-left: 35px; 
	margin-right: 18px;
}
.arrowimage {
	width:auto; 
	height:10px; 
	vertical-align: middle;
	padding-left: 7px;
	float: right;
}
/* a:focus img.arrowimage {
  width:auto; 
  height:10px; 
  vertical-align: middle;
  padding-left: 7px;
  float: right;
} */

/* Style of the Check Box texts */
.CheckboxText { 
	padding-left: 7px;
	color: #f2f2f2;
	font-family: LatoWebLight;	
} 
.DisclaimerStyles {
	color: #FFFFFF;
	margin: 0px;
	font-weight: lighter;
}

/* Printing Kiosk Legend Styles*/
.PrintLegend {
	border: 3px solid #00897C; 
	border-radius: 10px; 
	padding: 10px; 
	margin: 10px auto; 
	clear: both; 
	overflow: hidden; 
	background-color: rgba(255,255,255,0.6);
}
.LegendTable {
	margin: 0px; 
	padding: 0px; 
	border-bottom-style: none;
}
.LegendBuffer {
	padding-top: 5px;
}
.tdLegend {
	padding-top: 0px;
}
.LegendImages {
	padding-right: 10px;
	width: 50px; 
	height: auto;
}
.LegendInfo {
	font-size: 12px; 
	margin: 0px;
	width: 200px;
	word-wrap: break-word;
}
.ImageTitle {
	color: #00897C; 
	font-weight: bold; 
	margin: 0px;
	width: 150px;
	word-wrap: break-word; 
}
.PrintWifi {
	padding: 0px;
}
.PrintWifi:hover {
	color: #FFFFFF;
	text-shadow: 1px 1px 3px #000000;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;  
	transition: 0.2s ease;	
}

.PrintContent {
    background: #FFCE07;                                   /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFCE07, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFCE07, #FFFFFF);      /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFCE07, #FFFFFF);    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFCE07, #FFFFFF);         /* Standard syntax */
	color: #00897C; 
	padding: 15px;
	border: 2px solid #00897C;
	border-radius: 5px;
}
.PrintLocationTitles {
	margin: 0px; 
	font-weight: bold; 
	font-size: 23px;
}
.PrintSubTitles {
	margin: 0px; 
	font-weight: bolder; 
	font-size: 14px;
    vertical-align: bottom;
}

/* Topbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.topbar {
	background-color: rgba(41, 84, 41, 1);
	top: 0;
	position: fixed;
	height: 120px;
	width: 100%;
	vertical-align: middle;
	z-index: 2;
	-moz-box-shadow:    0px 1px 10px 1px #191919;
	-webkit-box-shadow: 0px 1px 10px 1px #191919;
	box-shadow:         0px 1px 10px 1px #191919;
}
/* Topbar Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo {
	line-height: 120px;
	margin-right: 35px;
	float: right;
}
.smalllogo {
	float: right;
	margin-right: 35px;
	line-height: 120px;
	display: none;
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
	bottom: 0;
	position: fixed;
	right:0;
	width: 340px;
	height: 50px;
	background-color: rgba(41, 84, 41, 1);
	z-index: 2;
}
.SurveyLink {
	color: #f6f3af;
	text-decoration: none;	
}
.SurveyLink:hover {
	text-shadow: 1px 1px 3px black;
}
/* Zoom Controls
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.zoom-container {
	background: none;
	height: 100px;
	width: 28px;
	right: 35px;
	position: fixed;
	padding-top: 120px;
	margin-top: 0px;
	z-index: 1;
}
.zoom-controls {
	margin-top: 35px;
	margin-right: 35px;
	float: right;
	display: none;
	position: fixed;
}
/* Zoom Controls (Leaflet)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.leaflet-top .leaflet-control {
	margin-top: 35px !important;
}
.leaflet-right .leaflet-control {
	margin-right: 35px !important;
}
/* Search Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#searchbox {
	margin-left: 35px;
	margin-bottom: -13px;
	padding-bottom: 0px;
	margin-top: -5px;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
#searchbox input {
	outline: none;
}
#searchbox input[type="text"] {
	border-width: 0px;
	border-style: none;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 12px;
	color: black;
	width: 241px;
	padding: 8px 15px 8px 8px;
}
#button-submit {
	background: #FFF;
	border-width: 0px;
	padding: 8px 10px 8px 8px;
	width: 65px;
	cursor: pointer;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 12px;
	color: rgba(41, 84, 41, 1);
}
#button-submit:hover {
	background: #f6f3af;
}
#button-submit:active {
	background: #f6f3af;
}
#button-submit::-moz-focus-inner {
	border: 0;
}
.SearchResultsContainer {
	margin-left: 35px;
	margin-bottom: -13px;
	margin-top: -5px;
	border-width: 0px;
	border-style: none;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 12px;
	color: black;
	position: relative;
	z-index: 50;
	bottom: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 241px;
}

.SearchResultsContainer ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

.SearchResultsContainer ul li{
	list-style-type: none;
}

.SearchResultsContainer ul li a{
	padding-left: 8px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size:	14px;
	text-decoration:none; 
	display: block;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	color: rgba(41, 84, 41, 1);
}	
.SearchResultsContainer ul li a:hover{
	/* background-color: rgba(0, 0, 0, 1); */
	color: #f6f3af;
	padding-left: 12px;
	opacity: 0.7;
	text-shadow: 3px 3px 10px black;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
	-ms-animation: fadein 3s; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera < 12.1 */
	animation: fadein 3s;
/* 	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;  
	transition: background-color 0.3s ease; */
}
/* Popup Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fadein { 
	margin: 0 auto; 
/* 	position:relative;  */
	width: auto;
	height: 150px; 
	display:block; 	
}
.fadein img { 
	position:absolute; 
}

.ParkingContent {
	width: 300px;
	color: #FFFFFF;
	padding: 10px;
	margin: 0 auto;
	overflow: hidden;
}
.ParkingInfo {
	position: relative;
	z-index: 50;
}
.HeaderNoSpace {
	margin: 0px 0px 0px 3px;
}
.ParkingType {
	font-size: 40px;
	margin: 7px 3px 7px 3px;
}
.LotsNoSpace {
	margin: 0px;
	text-align: center;
}
.ParkingHeadLine {
	border-top: 1px solid #E1E1E1;
}
.ParkTextCenter {
	text-align: center; 
	margin: 0px;
}

/* line breaks
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
	margin-top: 1.75rem;
	margin-bottom: 1rem;
	margin-left: 2.2rem; 
	border-width: 0;
	border-top: 1px dotted #E1E1E1; 
	width: 300px;
}
.break {
	margin-top: 8px;
	border-bottom: 1px dotted #E1E1E1;
	width: 300px;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 700px) {
.logo {
	display: none;
}
 .smalllogo {
	margin-right: 35px;
	float: right;
	display: inline;
	line-height: 120px;
}
 @media screen and (max-width: 700px) {
.footer {
	width: 200px;
	height: 40px;
}
 .control-footer button {
	color: white;
	cursor: pointer;
	font-size: 13px;
	background: none;
	border: none;
	line-height: 40px;
	margin-left: 14px;
}

 #searchbox input[type="text"] {
	border-width: 0px;
	border-style: none;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 12px;
	color: black;
	width: 212px;
	padding: 8px 15px 8px 8px;
}
#button-submit {
	background: #FFF;
	border-width: 0px;
	padding: 8px 10px 8px 8px;
	width: 65px;
	cursor: pointer;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 12px;
	color: rgba(41, 84, 41, 1);
}
#button-submit:hover {
	background: #f6f3af;
}
#button-submit:active {
	background: #f6f3af;
}
#button-submit::-moz-focus-inner {
	border: 0;
}
